.title{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.city{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
      
}
.date{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;     
}
.icon{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;     
}
.temp{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
      
}
.wind{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;     
}
.humidity{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
      
}

.UV{ 
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;
      
}


.day-5-forecast{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: left
}
.day-4-forecast{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center
}
.day-3-forecast{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center
}
.day-2-forecast{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center
}
.day-1-forecast{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center
}


